<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Regions</h1>
    <%= link_to "New region", new_region_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table class="table mt-3">
  <% @regions.each do |region| %>
    <tr id="<%= dom_id(region) %>">
      <td><%= region.name %></td>
      <td><%= link_to "Edit", edit_region_path(region), class: "btn btn-primary btn-sm"  %></td>
      <td><%= link_to "Delete", region_path(region), data: {turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger btn-sm" %></td>
    </tr>
  <% end %>
</div >

</div>
